<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2024 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% breadcrumb_paths(nil) %>
<h2 class="headline--application">
  <span><%= organization_icon %></span>
  UPMS
</h2>
<div class="op-widget-box--header" data-test-selector="op-widget-box--header">
  <div class="op-widget-box--header-title title-container">
    <h2 class="editable-toolbar-title--fixed">Welcome to UPMS!</h2>
  </div>
</div>
<%= render 'homescreen/blocks/header', title: t('label_my_account') %>

<ul class="widget-box--arrow-links">
  <li>
    <%= link_to t(:label_profile), my_account_path, title: t(:label_profile) %>
  </li>
  <li>
    <%= link_to t(:'js.my_page.label'), my_page_path,
                title: t(:'js.my_page.label') %>
  </li>
  <li>
    <%= link_to t(:button_change_password), my_password_path, title: t(:button_change_password) %>
  </li>
</ul>


<%= render partial: 'announcements/show' %>


<% if show_homescreen_links? && @homescreen[:links].any? %>
  
<% end %>

<%= call_hook :homescreen_after_links %>
